@page "/"
@implements IDisposable

<PageTitle>Pokedex</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Pokedex!</MudText>

<div class="d-flex flex-column align-center">
    <MudPagination Disabled="@IsPaginationDisabled" @ref="_mudPagination" SelectedChanged="PageChanged" Color="Color.Primary" Count="85" />
    <MudSelect T="int" Value="@_selectedPage" ValueChanged="PageChanged" Label="Jump Page" AnchorOrigin="Origin.BottomCenter">
        @for (var i = 1; i <= 85; i++)
        {
            <MudSelectItem T="int" Value="@i" />
        }
    </MudSelect>
</div>


@if (!_isLoading && PokemonTransferService.List.Count > _endIndex && PokemonTransferService.List[_endIndex].Id != 0)
{
    int startIndex = (_selectedPage - 1) * 12;
    int endIndex = _selectedPage * 12;
    if (endIndex > 1010) endIndex = 1010;
    <MudGrid key="@renderKey">
        @for (var i = startIndex; i < endIndex; i++)
        {
            var pokemon = PokemonTransferService.List[i];
            if (pokemon.Id != 0)
            {
                <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                    <MudImage Fluid="true" Src="@BasicUtility.PokemonImage(pokemon.Id)" Alt="@pokemon.N" Class="cursor-pointer" @onclick="()=>HandleClick(pokemon)" />
                    <MudText Typo="Typo.caption">@BasicUtility.ConvertToHashCode(pokemon.Id)</MudText>
                    <MudText Typo="Typo.h6">@BasicUtility.Capitalize(pokemon.N)</MudText>
                    @for (var j = 0; j < pokemon.Ts.Count; j++)
                    {
                        var type = pokemon.Ts[j];
                        <MudChip Class="@BasicUtility.GetChipClass(type)" Style="text-transform:capitalize">@type</MudChip>
                    }
                </MudItem>

            }
        }
    </MudGrid>
}
else
{
    <div class="d-flex align-center justify-center" style="margin-top:85px">
        <span class="ring">
            Loading
            <span class="ringinside"></span>
        </span>
    </div>
}


@code {
    //var temp = await pokeClient.GetNdResourcePageAsync<Pokemon>(12, 0);
    //https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png
    private MudPagination? _mudPagination;
    private bool IsPaginationDisabled = false;
    private int _endIndex = 0;
    private int _selectedPage = 1;
    private bool _isLoading = false;
    private string _pokemonListKey = "PokemonList";
    private string _selectedPageKey = "SelectedPage";
    PokeApiClient pokeClient = new PokeApiClient();
    private string renderKey = Guid.NewGuid().ToString();

    protected override async Task OnInitializedAsync()
    {

        if (PokemonTransferService.List.Count == 0)
        {
            for (var i = 0; i < 1000; i++)
            {
                PokemonTransferService.Add(new PokemonLite());
            }
            await GetPokemonList(1);
        }

        if (await localStorage.ContainKeyAsync(_selectedPageKey))
        {
            _selectedPage = int.Parse(await localStorage.GetItemAsStringAsync(_selectedPageKey));
            _mudPagination?.NavigateTo(_selectedPage - 1);
        }

    }

    private async Task GetPokemonList(int page)
    {
        // one page has 12 pokemons
        _isLoading = true;
        //renderKey = Guid.NewGuid().ToString();
        _selectedPage = page;
        int startIndex = (page - 1) * 12 + 1;
        int endIndex = page * 12;
        if (endIndex > 1010) endIndex = 1010;
        _endIndex = endIndex - 1;
        StateHasChanged();

        for (var i = PokemonTransferService.List.Count; i < endIndex; i++)
        {
            PokemonTransferService.Add(new PokemonLite());
        }

        // key to check if call api needed
        var willFetch = false;
        // pokemon api id start from 1
        for (var i = startIndex - 1; i < endIndex; i++)
        {
            if (PokemonTransferService.List[i].Id == 0)
            {
                willFetch = true;
                // get detail of a pokemon
                var getPokemon = await pokeClient.GetResourceAsync<Pokemon>(i + 1);
                // get a list of pokemontype that contains damage relation
                var _ = await pokeClient.GetResourceAsync(getPokemon.Types.Select(ty => ty.Type));
                PokemonTransferService.List[i].Initialize(getPokemon, _);
            }
            // fetch not needed, break out of loop
            if (!willFetch) break;
        }

        if (willFetch)
        {
            // 1. serilize pokemon list
            // 2. compress string
            var json = JsonConvert.SerializeObject(PokemonTransferService.List);
            var compress = BasicUtility.CompressStringDeflate(json);
            await localStorage.SetItemAsStringAsync(_pokemonListKey, compress);
            //await localStorage.SetItemAsync<List<PokemonLite>>(_pokemonListKey, pokemonList);
        }
        _isLoading = false;
        // update the key to force a re-render
        renderKey = Guid.NewGuid().ToString();
        StateHasChanged();

    }

    private async void PageChanged(int i)
    {
#pragma warning disable CS8602, BL0005
        _mudPagination.Selected = i;
#pragma warning restore CS8602, BL0005
        await localStorage.SetItemAsStringAsync(_selectedPageKey, i.ToString());
        await GetPokemonList(i).ConfigureAwait(false);

    }

    public void HandleClick(PokemonLite p)
    {
        PokemonTransferService.Data = p;
        NavigationManager.NavigateTo(NavigationManager.Uri + $"pokemon/{p.N}");
    }

    public void Dispose()
    {
        pokeClient.Dispose();
    }
}