@page "/"

<PageTitle>Pokedex</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Pokedex!</MudText>

<div class="d-flex flex-column align-center">
    <MudPagination @ref="_mudPagination" SelectedChanged="PageChanged" Color="Color.Primary" Count="84" />
    <MudSelect T="int" Value="@_selectedPage" ValueChanged="PageChanged" Label="Jump Page" AnchorOrigin="Origin.BottomCenter">
        @for (var i = 1; i <= 84; i++)
        {
            <MudSelectItem T="int" Value="@i" />
        }
    </MudSelect>
</div>


@if (!_isLoading && PokemonService.PokemonList != null && PokemonService.PokemonList.Count > _endIndex && PokemonService.PokemonList[_endIndex].Id != 0)
{
    int startIndex = (_selectedPage - 1) * 12;
    int endIndex = _selectedPage * 12;
    if (endIndex > 1010) endIndex = 1010;
    <MudGrid key="@renderKey">
        @for (var i = startIndex; i < endIndex; i++)
        {
            var pokemon = PokemonService.PokemonList[i];
            if (pokemon.Id != 0)
            {
                <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                    <MudImage Fluid="true" Src="@BasicUtility.PokemonImage(pokemon.Id)" Alt="@pokemon.Name" Class="cursor-pointer" @onclick="()=>HandleClick(pokemon)" />
                    <MudText Typo="Typo.caption">@BasicUtility.ConvertToHashCode(pokemon.Id)</MudText>
                    <MudText Typo="Typo.h6">@BasicUtility.Capitalize(pokemon.Name)</MudText>
                    @for (var j = 0; j < pokemon.Types.Count; j++)
                    {
                        var type = pokemon.Types[j];
                        <MudChip Class="@BasicUtility.GetChipClass(type)" Style="text-transform:capitalize">@type</MudChip>
                    }
                </MudItem>

            }
        }
    </MudGrid>
}
else
{
    <div class="d-flex align-center justify-center" style="margin-top:85px">
        <span class="ring">
            Loading
            <span class="ringinside"></span>
        </span>
    </div>
}


@code {
    private MudPagination? _mudPagination;
    private bool _isLoading = false;
    private int _endIndex = 0;
    private int _selectedPage = 1;
    //private string _pokemonListKey = "PokemonList";
    private string _selectedPageKey = "SelectedPage";
    private string renderKey = Guid.NewGuid().ToString();

    protected override async Task OnInitializedAsync()
    {

        while (PokemonService.PokemonList.Count == 0)
        {
            await Task.Delay(500);
        }

        if (await localStorage.ContainKeyAsync(_selectedPageKey))
        {
            _selectedPage = int.Parse(await localStorage.GetItemAsStringAsync(_selectedPageKey));
            _mudPagination?.NavigateTo(_selectedPage - 1);
            GetPokemonList(_selectedPage);
        }
        else
        {
            GetPokemonList(1);
        }

    }

    private async void GetPokemonList(int page)
    {
        _isLoading = true;
        _selectedPage = page;
        int endIndex = page * 12;
        if (endIndex > 1010) endIndex = 1010;
        _endIndex = endIndex - 1;
        StateHasChanged();
        await Task.Delay(200);
        // update the key to force a re-render
        //renderKey = Guid.NewGuid().ToString();
        _isLoading = false;
        StateHasChanged();
    }

    private async void PageChanged(int i)
    {

        _mudPagination?.NavigateTo(i - 1);

#pragma warning disable CS8602, BL0005
        //_mudPagination.Selected = i;
#pragma warning restore CS8602, BL0005
        await localStorage.SetItemAsStringAsync(_selectedPageKey, i.ToString());
        GetPokemonList(i);
    }

    public void HandleClick(PokemonDiet p)
    {
        PokemonService.Data = p;
        NavigationManager.NavigateTo(NavigationManager.Uri + $"pokemon/{p.Name}");
    }

}